/*General styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex; 
    background: url(images/pexels-pixabay-414144.jpg) no-repeat center center/ cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.container{
    width: 550px;
    height: 450px;
}

header{
    font-size: 1.2rem;
    font-weight: 500;
    border: solid 2px #fff;
    color: #fff;
    background-color: gray;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}
.main-content{
    background-color: #fff;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 10px ;
}

.main-content .textarea{
    font-size: 1.5rem;
    line-height: 1.2;
}

.main-content .person{
    font-size: 1.6rem;
    color: blue;
    margin-top: 20px;
    text-transform: uppercase;
}
.button #newQuote{
    margin-top: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
 }
.button #newQuote:active{
    background-color:lightblue;
}