* {
  /* "*" means for all elements and applying below css makes sure every element is padding and margin resets to 0*/

  /*Also using a box sizing as border box includes the padding and border in the element's total width and height. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /*This sets the width and height of the html and body elements to 100% of the viewport*/
  width: 100%;
  height: 100%;
}

body {
  color: green;
  font-family: "Arial", sans-serif;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(180deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search input::placeholder {
  color: #999;
}

.search button:hover {
  background: #c1ffd9;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  /*border: 0;:
    This style rule sets the border of an element to have zero width, effectively removing any visible border. It's often used to remove default borders on certain elements like images or buttons.*/
  border: 0;
  /*outline: 0;:
    This style rule removes the outline that is typically applied to focused elements, such as links, buttons, or form inputs. The outline is a visual indicator that shows which element has keyboard focus. Some designers choose to remove it for aesthetic reasons or replace it with a custom styling.*/
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  /*The flex property is a shorthand property that combines three individual properties: flex-grow, flex-shrink, and flex-basis. When you use flex: 1;, it is equivalent to:
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

    flex-grow: 1;: The flex item will grow and take up available space along the main axis. If there's extra space in the container, the item will grow proportionally based on the value of flex-grow. In this case, 1 indicates that the item should grow at the same rate as other items with flex-grow: 1;.

    flex-shrink: 1;: The flex item is allowed to shrink if there is not enough space on the main axis. The 1 indicates that the item will shrink at the same rate as other items with flex-shrink: 1;.

    flex-basis: 0%;: This sets the initial size of the flex item along the main axis. In this case, it's set to 0%, meaning the initial size is zero, and the item will rely on flex-grow to determine its size.*/
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  border-radius: 30px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 45px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 50px;
  font-weight: 200;
  margin-top: -10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
}

.weather {
  display: none;
}
.invalid {
  display: none;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    border-radius: 0;
  }

  .search {
    flex-direction: column;
  }

  .search input {
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .search button {
    width: 100%;
  }

  .weather h1 {
    font-size: 60px;
  }
  .weather h2 {
    font-size: 40px;
  }
}

@keyframes slideDownCard {
  0% {
    transform: translateY(-30px); /* Initial position above by 30px */
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    transform: translateY(0); /* Final position at its normal position */
    opacity: 1; /* Fully visible */
  }
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(180deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  animation: slideDownCard 1s ease-in-out 0.6s forwards;
}
